
#day-graph {
  height: 500px;
  border: 1px solid grey;
  position: relative;
}

#day-graph div.half {
  position: absolute;
  width: 100%;
  top: 50%;
  border-top: 1px dashed grey;
  text-align: right;
  padding-right: 1em;
}

#day-graph div.bar {
  position: absolute;
  bottom: 0;
  border: 1px solid grey;
  border-bottom: none;
  width: 5px;
  height: 0%;
}
